# Discord Bot Token
# Get your token from: https://discord.com/developers/applications
TOKEN_DC=YOUR_BOT_TOKEN_HERE

# Command Prefix
# Change this to customize the command prefix
# Examples: !, -, >>, bot, etc.
PREFIX=.
